body {
	background-color: #1d1d1d;
	font-family: FreeMono, monospace;
}

html {
	scroll-behavior: smooth;
}


.msg::first-letter {
	background-color: rgb(143, 143, 143);
}


.msg {
	color: white;
}

.intro {
	color:wheat;
}



.my-theme { 
    font-family: "Courier New", Courier, monospace; 
    background-color: #3d31a2;
    line-height: 1em;
    font-size: 1.2em; 
	color: transparent; text-shadow: 0 0 0 #ddd;
	border-radius: 5px;
	width: 70%;
	display: block;
    max-width: 90%;
    margin: 0 auto;
}


.my-theme .content { padding: 15px 15px 0 15px; }
.my-theme .prompt { padding: 0 15px 450px 15px; }
.my-theme .content ul { margin: 0;}
.my-theme .content ul li { list-style-type: none; }
.my-theme .loading span::after {
    content: "⚙";
    color: #ddd; font-size: 10em;
    border-radius: 10em; opacity: 0.4;
}

.xcontent {
	border: none;
	width: 150px;
	height: 60px;
	border-radius: 5%;

	background-color: rgb(85, 8, 124);
}

.xcontent:hover {
	cursor: pointer;
	background-color: rgb(85, 8, 124);
}
.welcome-menu {
	margin: auto;
	width: 90px;
	height: 30px;
	background-color: rgb(137, 43, 226);

}

.welcome-menu:hover {

	cursor: pointer;
	background-color: rgba(137, 43, 226, 0.61);
}

.xeum-window {
	right: 0;
	width: 90px;
	height: 300px;
	background-color: rgba(56, 53, 46, 0.678);
	margin-top: 10px;
	margin-right: 5px;
	position: absolute;
	display: inline-block;
}
.menu {
	border: none;
	width: 60px;
	height: 70px;
	border-radius: 10%;
	background-color: rgb(85, 8, 124);
	margin-top: 10px;
	margin-right: 5px;
	position: absolute;
	top:0;
	right:0;
}

.menu:hover {
	cursor: pointer;
	background-color: rgb(85, 8, 124);
}
.long {
	height: 3000px;
}

#footer {
	color: white;
}
