doctype html
head
    title Eth App
body
    link(rel='stylesheet', href='/css.css')
    div(class="header")
        a(id="address" class="Account Adress" href="javascirpt:copyToClipboard_textArea();")
        a(id="balance" class="Account Balance")
    h1(id="err") Wallet Status
    p1(id='addy') active
    br
    br
    h1 Transfers
    br
    h3 ToAdreess      
    input(type="text", name="To", id="toAdd")
    br
    br
    h3 Amount        
    input(type="text", name="Amount", id="much")
    br
    p1 ETH  
    br
    br   
    button(class="btn" onclick="sendTo()") transfer
    script(src="web3.min.js")
    script(src="web3.js")
    script(src="js.js")