doctype html
head
    title Eth App
body
    link(rel="stylesheet" type="text/css" href="https://legoman8304.github.io/style.css")
    link(rel='stylesheet', href='style.css')
    div(class="header")
        div(class="lock")
        div(class='cnt')
            input(type="text" value="x" id="address")
            a(id="balance" class="Account Balance")
        button(id="bttn" onclick="copyAddress()") CopyAddress
    h1(id="err") Wallet Status
    p1(id='addy') active
    br
    br
    h1 Transfers
    br
    h3 ToAdreess      
    input(type="text", name="To", id="toAdd")
    br
    br
    h3 Amount        
    input(type="text", name="Amount", id="much")
    br
    p1 ETH  
    br
    br   
    button(class="btn" onclick="sendTo()") transfer
    br
    br
    a(id="trxHash")
    script(type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js")
    center
        div(class="coinmarketcap-currency-widget" data-currencyid="1027" data-base="USD" data-secondary="BTC" data-ticker="true" data-rank="false" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true")
    script(src="web3.min.js")
    script(src="web3.js")
    script(src="js.js")